@import '../global.scss';
.settings {
    .form {
        margin: 12px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .buttons {
        display: flex;
        gap: 8px;
        @media screen and (max-width: $sm-width) {
            flex-direction: column;
            gap: 12px;
        }
    }
}