@import '../global.scss';
.commit {
    position: relative;
    padding: 12px 0px;
    padding-right: 24px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 1px 1px rgba(67, 68, 69, 0.3);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 2px 8px rgba(67, 68, 69, 0.3);
    }
    .commit-status {
        position: absolute;
        left: 24px;
        top: 12px;
        img {
            width: 24px;
        }
        // left:
        @media screen and (max-width: $sm-width) {
            left: 12px;
            top: 16px;
            img {
                width: 16px;
            }
        }
    }
    .main-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 56px;
        gap: 5px;
        @media screen and (max-width: $sm-width) {
            flex-direction: column;
            padding-bottom: 8px;
            margin-left: 0px;
            justify-content: start;
            align-items: flex-start;
            width: 100%;
            gap: 5px;
        }
        .commit-title {
            text-align: start;
            .commit-id {
                text-decoration: none;
                font-weight: bold;
                margin-right: 5px;
            }
            @media screen and (max-width: $sm-width) {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 5px;
            }
        }
        // padding: 0;
        .commit-details {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 13px;
            font-weight: 400;
            a {
                display: flex;
                align-items: center;
                line-height: 16px;
                text-decoration: none;
                color: $black;
                img {
                    width: 16px;
                    margin-right: 6px;
                }
            }
            @media screen and (max-width: $sm-width) {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;
            }
        }
    }
    .secondary-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        // background: lightgreen;
        &-item {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 13px;
            font-weight: 400;
            color: $secondary;
        }
        @media screen and (max-width: $sm-width) {
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 5px;
            border-top: 1px #F0F2F3 solid;
            padding-top: 8px;
        }
    }
    @media screen and (max-width: $sm-width) {
        flex-direction: column;
        height: auto;
        padding: 16px 12px;
        padding-left: 36px;
    }
}