@import '../global.scss';
.custom-button {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    border: none;
    height: 36px;
    padding: 0px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    img {
        width: 12px;
    }
    .title-with-icon {
        text-decoration: none;
        @media screen and (max-width: $sm-width) {
            display: none;
        }
    }
    .spinner {
        height: 16px;
        width: 16px;
    }
}

.primary {
    background-color: $primary;
    &:hover {
        background-color: #f2c32f;
    }
    &:focus {
        outline-color: #b38f20;
    }
    &:disabled {
        background-color: #e6e6e6;
        color: $secondary
    }
    text-align: center;
}

.secondary {
    background-color: $light-bg;
    &:hover {
        background-color: #dbdbdb;
    }
    &:focus {
        outline-color: #b3b3b3;
    }
    &:disabled {
        background-color: #e6e6e6;
        color: $secondary
    }
}

.sm-full-width {
    @media screen and (max-width: $sm-width) {
        text-align: center;
        width: 100%;
        .title {
            width: 100%;
            text-align: center;
        }
    }
}