@import '../global.scss';
.header {
    padding: 8px 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .title {
        margin: 0;
        display: inline-block;
        word-break: break-word;
        overflow-wrap: break-word;
        padding-right: 12px;
    }
    .secondary-title {
        font-size: 24px;
        color: $secondary;
        line-height: 1.5;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        min-width: 160px;
        @media screen and (max-width: $sm-width) {
            min-width: auto;
        }
    }
}