@import '../global.scss';
label {
    display: flex;
    flex-direction: column;
    input[type=text],
    input[type=number] {
        margin-top: 8px;
        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        border-radius: 5px;
        height: 36px;
        border: 2px $secondary solid;
        &:focus {}
        &.error {
            border-color: $red;
            outline-color: $red;
        }
    }
}