@import '../global.scss';
label {
    display: flex;
    flex-direction: column;
    input[type=text],
    input[type=search],
    input[type=number] {
        margin-top: 8px;
        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        border-radius: 5px;
        height: 36px;
        border: 2px $secondary solid;
        &:focus {}
        &.error {
            border-color: $red;
            outline-color: $red;
        }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
            background-size: contain;
            opacity: 0.4;
        }
    }
}